body{
    background-color: #ffffff54;
    

}
.nav{
    background-color: #47AFA7;
    padding-bottom: 20px;
}
.text-prin{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;


}
.logo:hover{
    cursor: pointer;
}
.invalid{
    color: red;
    font-size: 10px;
}
.contenido{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: #47AFA7 1px solid;
    background-image: url(img/fondo.jpg);
    
}
.form-control:focus {
    color: #495057; 
    background-color: #fff;
    border-color: #000000;
    outline: 0; 
    box-shadow: none;
    border-color:rgb(10, 175, 167, 0.56);
}
.custom-select:focus {
    border-color: #000000;
    outline: 0;
    box-shadow: none;
    border-color:rgb(10, 175, 167, 0.56); 
}
#descrip{
    height: 100px;
}
#password  {
    width: 90%;
}

.fa-eye{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 20px;
}
.fa-eye:hover{
    cursor: pointer;
}
.img{
    width: 40px;
    height: 40px;
}
.img:hover{
    cursor: pointer;
}
.formphone{
    width: 300px;
}
.formsocial{
    width: 80%;
}
.btn-primary{

    width: 40%;
    background-color: rgb(10, 175, 167);
    border-color: rgb(10, 175, 167);
}
.btn-primary:hover{
    background-color: rgb(10, 133, 126);
    border-color: white;
}
.btn-primary:active{

    border-color: white !important;
    background-color: rgb(10, 175, 167) !important;
}
.custom-file-label::after{
    content: "Cargar"!important;
}
.custom-file-input:focus{
    color: #495057 !important; 
    background-color: #fff !important;
    border-color: #000000 !important;
    outline: 0; 
    box-shadow: none !important;
    border-color:rgb(10, 175, 167, 0.56) !important;

}
