.nav{
    background-color: rgb(10, 175, 167);
    padding-bottom: 20px;
    padding-left: 250px;
}
.logo:hover{
    cursor: pointer;
}
.textsup{
    margin-top: 20px;
}
.custom-select{
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
}
.custom-select:focus{
    box-shadow: 0 0 0 0.2rem white;
    border-color: rgb(10, 175, 167);

}
.btn-primary{
    margin-top: 40px;
    margin-left: 35%;
    width: 30%;
    background-color: rgb(10, 175, 167);
    border-color: rgb(10, 175, 167);
}
.btn-primary:hover{
    background-color: rgb(10, 175, 167);
    border-color: white;
}
.btn-primary:focus{
    border-color: white;
    background-color: rgb(10, 175, 167);
}